*{
    margin:0;
    padding:0;
}
.bg-menu{
    background-color:black;
    height: 300px;
    display: inline-block;
}
.bg-menu a{
    background-color: #3b3a3a;
    border-radius: 0px;
    border:solid 1px #c0c0c0;
}